vivarium-studio.xcodeproj/xcuserdata/royli.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
vivarium-studio.xcodeproj/project.xcworkspace/xcuserdata/royli.xcuserdatad/UserInterfaceState.xcuserstate
*.xcbkptlist
.DS_Store
